html, body{
    height:100%;
}

#app-content{
    margin:0;
    height:100%;
}

#app-content > div {
    height:100%;
}

.fill-height{
    height:100%;
}

body{
    overflow:hidden;
}


.popup-timestamp{
    text-align: center;
}

.popup-alert{
    text-align: center;
    color: red;
}

.popup-picture{
    cursor:zoom-in;
}

.modal{
    max-height:85%;
}

.modal-picture{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.modal-buttons-container img{
    margin:10px 5px;
    cursor:pointer;
}